<!DOCTYPE>

<html>
	<head>
		<title>Permalink</title>
	</head>
	<style type="text/css">
		body {
			width: 60%;
			margin-left: 20%;
		}

		h1 {
			text-align: center;
		}

		label {
			width: 100%;
			display: inline-block;
		}

		.title {
			margin-right: 50%;
			float: left;
		}

		.date {
			text-align: right;
		}

	</style>
	<body>
		<h1>CS 253 Blog</h1>
		<label>
			<div class="title">{{title}}</div>
			<div class="date">{{created}}</div>
			<hr>
		</label>
		<p>{{blog}}</p>
	</body>
</html>